<html>
<p>{{comment.author}}{% if admin and comment.email %} &lt;<a href="mailto:{{comment.email}}">{{ comment.email }}</a>&gt;{% endif %}は書いた：</p>

<p>{{comment.text}}</p>

<p>
	{% if admin %}
	{% if comment.website %}
	ユーザーのURL： <a href="{{comment.website}}">{{comment.website}}</a>
	<br>
	{% endif %}
	IPアドレス： {{comment.remote_addr}}
	<br>
	{% endif %}

	コメントへのリンク： <a href="{{com_link}}">ここをクリック</a>
</p>

<hr>

<p>

	{% if admin %}
	コメントを削除する： <a href="{{del_link}}">ここをクリック</a>
	<br>
	{% if comment.mode == 2 %}
	コメントを有効にする： <a href="{{act_link}}">ここをクリック</a>
	{% endif %}

	{% else %}
	退会する： <a href="{{unsubscribe}}">ここをクリック</a>
	{% endif %}

</p>
</html>
{# See comment.txt for manual #}
