<html>
<p>{{comment.author}}{% if admin and comment.email %} &lt;<a href="mailto:{{comment.email}}">{{ comment.email }}</a>&gt;{% endif %} a écrit :</p>

<p>{{comment.text}}</p>

<p>
	{% if admin %}
	{% if comment.website %}
	Site de l'utilisateur : <a href="{{comment.website}}">{{comment.website}}</a>
	<br>
	{% endif %}
	Addresse IP : {{comment.remote_addr}}
	<br>
	{% endif %}

	Lien vers le commentaire : <a href="{{com_link}}">Cliquez ici</a>
</p>

<hr>

<p>

	{% if admin %}
	Supprimer le commentaire : <a href="{{del_link}}">Cliquez ici</a>
	<br>
	{% if comment.mode == 2 %}
	Activer le commentaire : <a href="{{act_link}}">Cliquez ici</a>
	{% endif %}

	{% else %}
	Se désinscrire de cette conversation : <a href="{{unsubscribe}}">Cliquez ici</a>
	{% endif %}

</p>
</html>
{# See comment.txt for manual #}
